@charset "UTF-8";

@use '../mixin' as *;
@use '../setting' as *;

/*========================
<h2 class="m-title">
    <span>About</span>
</h2>
=========================*/
.m-title {
	text-align: left;

	span {
		position: relative;
		@include fz(18);
		font-family: $Gothic;
		font-weight: bold;
		color: $textColor;
		@include line-h(18, 22);
		letter-spacing: 0;
	}
}
